
<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="row justify-content-between">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                    <input matInput class="p-b-0" placeholder="Search here..." />
                    <mat-icon matSuffix>
              <!-- <i-tabler name="search" class="icon-20"></i-tabler> -->
            </mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-8 text-end d-flex align-items-center justify-content-end">
                <button mat-flat-button color="primary">
                    Add Contact
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>