<!-- <P>KARAN KAlE</P> -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-list-item routerLink="/profile" routerLinkActive="active">Profile</a>
        <a mat-list-item routerLink="/settings" routerLinkActive="active">Settings</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Main content goes here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
